@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Rubik&family=Shalimar&display=swap');
/* reset CSS */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Fuzzy Bubbles', cursive;
	/* font-family: 'Rubik', sans-serif; */
	/* font-family: 'Shalimar', cursive; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
