*{
    margin: 0px;
    padding: 0;
}

ul {
    list-style: none;
    font-size: 25px;
}

input{
    width: 20%;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

#peopleModule{
    height: 100px;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

#peopleCard{
    height: 100px;
    margin: auto;
    width: 80%;
}


ul li {
    display: inline;
    padding: 5px;
    margin: 5px;
    border: 1px burlywood solid ;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}
ul li span{
    font-size: 25px;
}
ul li span i{
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    margin: 10px 0 10px 20px;
    padding: 3px;
    
}
